* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30%
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.btn {
  padding: 20px 60px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #3d30cff6;
  border-radius: 5px;
  color: white;

}

.btn-add {
  padding: 5px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #3d30cff6;
  border-radius: 5px;
  color: white;
  margin: 10px 0;

}


h1,h2 {
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

h3 {
  margin: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 30px 15px;
  background: #949494;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;

}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal-input {
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid black;
}

.text {
  margin: 15px 0;
}


@media (max-width: 510px) {
  .modal {
    width: 90%;
  }
  
}
